{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Add Tournament</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/tournament" enctype="multipart/form-data">
            <div class="field">
                <label for='html'>Start Date</label>
                <div class="control">
                    <input class="input is-large" type="date" id="start_date" name="start_date" min="2022-01-01" max="2024-12-31">
                </div>
            </div>
            <div class="field">
                <label for='html'>Poll Theme</label>
                <div class="control">
                    <input class="input is-large" type="text" id="poll_theme" name="poll_theme" placeholder="Theme/Description">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="logo" placeholder="logo">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Add Tournament</button>
        </form>
    </div>
</div>
{% endblock %}
