{% extends "admin_base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">List Tournaments</h3>
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <div>
            <table>
                <tr>
                    <th> Tournament ID </th>
                    <th> Theme/Description </th>
                    <th> Is Active </th>
                </tr>
                {% for tournament in tournaments %}
                <tr>
                    {% if tournament.is_active %}
                        <b>
                    {% endif %}
                            <td>{{ tournament.id }}<td>
                            <td>{{ tournament.theme }}<td>
                            <td>{{ tournament.is_active }}<td>
                    {% if tournament.is_active %}
                        </b>
                    {% endif %}
                </tr>
                {% endfor %}   
            </table>             
        </div>

    </div>
</div>
{% endblock %}
