<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MetaBet</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>

<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('show_tourney_management') }}" class="navbar-item">
                                Tournament Management
                            </a>
                            <a href="{{ url_for('show_poll_management') }}" class="navbar-item">
                                Poll Management
                            </a>
                            <a href="{{ url_for('show_tourney_page') }}" class="navbar-item">
                                Tournament Analytics
                            </a>   
                            <a href="{{ url_for('show_tourney_page') }}" class="navbar-item">
                                Tournament History
                            </a>                             
                            <form method="POST" action="/logout" class="navbar-item">
                                <button class="button is-block is-info is-large is-fullwidth">Logout</button>
                            </form>
                    
                            <!-- TODO: May need to change formatting of logout when we can see jsx -->
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>