{% extends "base.html" %}

{% block content %}

<div class="content">
    <h3 class="title has-text-left">Congrats on being a part of MetaMadness. Craziness is about to begin. There are a couple of rules and instructions that all of our Coaches should know about before starting off the tournament.</h3>
    <h2 class="has-text-left">Instructions:</h1>
    <ul class="has-text-left">
        <li> The tournament will have 7 different rounds. Every round will be played on a different day, so pay attention when the tournament begins. A schedule of dates will be released. </li> 
        <li> Every round will consist of a pick em’ system. The Coaches will be provided with a set of options to choose from, if you choose right, you move on to the next round. The options will consist of different sports, and yes, they will all be relatively popular sports. </li> 
        <li>  If you become a Champion, do not DM us. We will reach out to you with the next steps in the process. </li> 
        <li> If you become a Champion, all of your NFTs will earn an extra vote for every tournament that follows.</li> 
        <li>  Your prize will be determined based on how many athletes you coach. If you have more than 6 NFTs, you will still be placed in the Hall of Fame tier.</li> 
        <li> We will not DM you on Discord.</li> 
        <li> The amount of votes you have will be determined by the maximum number of votes any of your Athletes has. For example, if you have 4 athletes, 3 of them have 1 vote, and 1 of them has 2 votes, you are allowed to vote and pick twice in the tournament.</li> 
    </ul>
    <h2 class="has-text-left">Rules:</h2>
    <ul class="has-text-left">
        <li> Once the tournament begins and ends, a snapshot of your wallet will be taken. If you become a Champion, you must have the same amount of NFTs as you started with. They will also need to be the same exact NFTs. For example, if you begin the tournament with 4 NFTs (IDs: 309,407,2300, 856), you must end the tournament with those same ones to claim prizes. If you sell or buy an NFT while still being active on the tournament, no prizes will be awarded.</li> 
        <li> If you have been eliminated from the tournament, you have the ability to buy or sell as much as you want, as long you do it before the start of the next tournament.</li> 
        <li> A Twitter handle must be provided with your wallet address for us to contact you. No Twitter handle, no prizes.</li> 
    </ul>
</div>

{% endblock %}



