{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css">
<div class="column is-4 is-offset-4">
  <div class="box">
      <div id="reactEntry">
        Loading ...
      </div>
      <!-- Load JavaScript -->
      <script type="text/javascript">
        window.process = {
          env: {
              NODE_ENV: 'development'
          }
        } 
      </script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
  </div>
</div>
{% endblock %}
